.text-10px {
  font-size: 10px; }

.text-16px {
  font-size: 16px; }

.text-20px {
  font-size: 20px; }

.mp-1 {
  margin: 20px;
  padding: 0 20px; }

.mp-2 {
  margin: 20px;
  padding: 0 20px; }

.mp-3 {
  margin: 20px;
  padding: 0 20px; }

.mp-4 {
  margin: 20px;
  padding: 0 20px; }

.mp-5 {
  margin: 20px;
  padding: 0 20px; }

.mp-6 {
  margin: 20px;
  padding: 0 20px; }

.mp-7 {
  margin: 20px;
  padding: 0 20px; }

.mp-8 {
  margin: 20px;
  padding: 0 20px; }

a {
  text-decoration: none;
  color: black; }

body {
  font-family: Arial, Helvetica, sans-serif; }

/*header*/
.cabecera {
  position: sticky;
  background-color: red;
  display: flex;
  height: 50%;
  padding: 2%;
  top: 0;
  z-index: 1; }
  .cabecera .navbar-nav {
    gap: 2rem;
    display: flex;
    justify-content: flex-end;
    width: 100%; }
  .cabecera__logo {
    width: 50%; }
    .cabecera__logo__img {
      max-height: 140px;
      padding-top: 10px; }
  .cabecera nav {
    width: 100vw;
    margin: auto;
    background-color: red; }
    .cabecera nav ul {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      gap: 7,5rem;
      font-size: 1.2rem; }
      .cabecera nav ul li {
        list-style-type: none;
        position: relative;
        text-align: center;
        transition: 0,2s ease-in-out; }
        .cabecera nav ul li a {
          font-weight: bolder; }
      .cabecera nav ul li:hover a {
        outline: 2px solid black;
        transition: 0.2s ease-in-out;
        background-color: red; }
      .cabecera nav ul li:hover ul {
        display: block; }
      .cabecera nav ul ul {
        position: absolute;
        padding: 5%;
        display: none; }
        .cabecera nav ul ul li {
          display: block;
          padding: 5%;
          position: relative;
          min-width: 100%; }

/*index*/
main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1200px;
  height: 80%; }

#productos-destacados {
  display: grid;
  grid-template-areas: "titulo titulo"
  "camiseta residuo"
  "arranque escombro";
  grid-template-rows: 0,5fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  justify-items: center; }
  #productos-destacados .titulo {
    grid-area: titulo;
    display: flex;
    justify-content: center;
    margin: 0 auto; }
  #productos-destacados div {
    display: inline-block;
    text-align: center;
    margin: 50px 10px;
    border-style: solid; }
  #productos-destacados img {
    margin: 10px 20px 10px 20px; }
  #productos-destacados .arranque {
    grid-area: arranque;
    background-color: red; }
  #productos-destacados .arranque:hover {
    transform: rotate(10deg); }
  #productos-destacados .camiseta {
    grid-area: camiseta;
    background-color: red; }
  #productos-destacados .camiseta:hover {
    transform: rotate(10deg); }
  #productos-destacados .escombro {
    grid-area: escombro;
    background-color: red; }
  #productos-destacados .escombro:hover {
    transform: rotate(10deg); }
  #productos-destacados .residuo {
    grid-area: residuo;
    background-color: red; }
  #productos-destacados .residuo:hover {
    transform: rotate(10deg); }

#nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #nosotros div {
    padding: 10px 10px 10px 10px;
    margin: 50px 50px;
    border-style: solid;
    border-width: 5px;
    width: 40%;
    height: 40%;
    text-align: center;
    box-sizing: border-box; }

/*procesos.html*/
.procesos {
  display: flex;
  flex-direction: column;
  max-width: 1080px;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif; }
  .procesos__titulo {
    color: red;
    padding-top: 5%; }
  .procesos__div {
    margin-top: 10vh;
    margin-bottom: 5vh; }

.about-us {
  display: flex;
  flex-direction: column;
  max-width: 1080px;
  margin: 0 auto;
  align-items: center;
  margin-top: 10vh; }
  .about-us__div {
    margin-top: 10vh; }
    .about-us__div--imagen {
      margin-bottom: 10%; }

footer {
  height: 20vh;
  background: linear-gradient(to bottom, red, lightgray, white); 
}
  @media only screen and (max-width: 768px){
    main{
        background-color: snow;
        flex-direction: column;
    }
    #productos-destacados{
     display: flex;
     flex-direction: column;
    }
    #nosotros div{
     height: auto;
     width: auto;
    }
    .imagen{
     height: 70%;
    }
    nav ul{
     margin:auto;
     flex-wrap: wrap;
     }
     nav ul ul li{
         display: none;
     }
     
 
     
 }
 
 
 @media only screen and (max-width: 1024px) {
    
     
     
     
     nav ul ul li{
         display: none;
     }
     
   
 }
 
    
 
 @media only screen and (max-width:320px) {
     main{
         background-color: snow;
         flex-direction: column;
         
     }
     .estilo{
         height: 100%;
     }
     .imagen{
         height: 50%;
     }
     #productos-destacados{
         display: flex;
         flex-direction: column;
     }
     #nosotros div{
         height: auto;
         width: auto;
     }
     nav ul{
         margin:auto;
         flex-wrap: wrap;
 
     }
 
 }
 