$ancho:720px;
$sizes: 10px 16px 20px;

@each $size in $sizes{
    .text-#{$size}{
        font-size:$size;
    }
}

@for $i from 1 through 8{
    .mp-#{$i}{
       margin: 20px;
       padding: 0 20px;
    }
}

a{
    text-decoration: none;
    color: black;
}

body{
    font-family: Arial, Helvetica, sans-serif
}
    /*header*/

.cabecera{
    position: sticky;
    background-color: red;
    display: flex;
    height: 50%;
    padding: 2%;
    top: 0;
    z-index: 1;

    .navbar-nav{
        gap: 2rem;
        display: flex;
        justify-content: flex-end;
        width: 100%;

    }
    &__logo{
        width: 50%;
        &__img{
            max-height: 140px;
            padding-top: 10px;
        }
    }
    nav{
        width: 100vw;
        margin: auto;
        background-color: red;
      ul{
          list-style-type:none ;
          display: flex;
          justify-content: space-between;
          gap: 7,5rem;
          font-size: 1.2rem;

          li{
            list-style-type: none;
            position: relative;
            text-align: center;
            transition: 0,2s ease-in-out;
            a{
                font-weight: bolder;
                
            }
        }
          li:hover a{
            outline: 2px solid black;
            transition: 0.2s ease-in-out;
            background-color:white;
            
          }
          li:hover ul{
            display: block;

           }
           ul{
                position: absolute;
                padding: 10%;
                display: none;
                background-color:red;
                outline: 3px solid black;
                @media only screen and (max-width:768px) {
                    display: none;
                    margin: auto;
                    flex-wrap: wrap;
                    outline: none;
                }
                @media only screen and (max-width:1024px) {
                    display: none;
                    margin: auto;
                    flex-wrap: wrap;
                    outline: none;
                }

                li{
                 width: 100%;
                 padding: 3%;
                 background-color: red;
                 position: relative;
                 @media only screen and (max-width: 768px){
                     display: none;
                 }
                 @media only screen and (max-width: 320px){
                     display: none !important;
                     
                 }
                 @media only screen and (max-width: 1024px) {
                     display: none; 
                 }
                    .href{
                        display: block;
                        margin: 2% auto;
                        padding-bottom: 10%;
                        position: relative;
                        width: 100%;
                        width: max-content;
                        background-color:red ;
                        outline: none;
                        border-bottom: 2px solid black ;
                        color: white !important;
                        @media only screen and (max-width: 320px){
                            display: none;
                        }
                        @media only screen and (max-width:768px){
                            display: none;
                        }
                        @media only screen and (max-width: 1024px) {
                            display: none;
                            
                        }
                    }
                }


            }
   
        }
    }
}

    /*index*/
main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    box-sizing: border-box;
    max-width: 1200px;
    height: 80%; 

    @media only screen and (max-width:768px){
        flex-direction: column;
    }

}

#productos-destacados{
    display: grid;
    grid-template-areas:
    "titulo titulo"

    "camiseta residuo"

    "arranque escombro";
    grid-template-rows:  0,5fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center ;

    @media only screen and (max-width: 768px){
        display: flex;
        flex-direction: column;
    }
    @media only screen and (max-width:320px) {
        display: flex;
        flex-direction: column;
    }

    .titulo{
        grid-area: titulo;
        display: flex;
        justify-content:center;
        margin: 0 auto ;
    }
    div{
        display: inline-block;
        text-align: center;
        margin: 50px 10px;
        border-style: solid;
    
    }
    img{
        margin: 10px 20px 10px 20px;
    }
    .arranque{
        grid-area: arranque;
        background-color:red;
    }
    .arranque:hover{
        transform: rotate(10deg);
    }
    
    .camiseta{
        grid-area: camiseta;
        background-color:red;
    }
    .camiseta:hover{
        transform: rotate(10deg);
    }
    
    
    .escombro{
        grid-area: escombro;
        background-color: red;
    }
    .escombro:hover{
        transform: rotate(10deg);
    }
    
    
    .residuo{
        grid-area: residuo;
        background-color:red;
        
    }
    .residuo:hover{
        transform:rotate(10deg) ;
    }
   
}
#nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;

    div{
        padding: 10px 10px 10px 10px;
        margin: 50px 50px;
        border-style: solid;
        border-width: 5px;    
        width: 40%;
        height: 40%;
        text-align: center;
        box-sizing: border-box;
        @media only screen and (max-width: 768px){
            height: auto;
            width: auto;
        }
        @media only screen and (max-width:320px) {
            height: auto;
            width: auto;
            
        }
    }

}
/*nuestros-productos*/
#table{
    margin: 0 auto;
    padding: 5%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    tbody tr ul li{
        list-style-position: outside;
    }
    .foto-bolsa{
        margin: 5%;
    }
}


/*procesos.html*/
.procesos{
    display: flex;
    flex-direction: column;
    max-width: $ancho*1.5;
    align-items: center;
    margin: 0 auto;
    justify-content: center; 
    font-family: Arial, Helvetica, sans-serif; 

    &__titulo{
        color: red;
        padding-top: 5%;
    }
    &__div{
        margin-top: 10vh;
        margin-bottom: 5vh;
        
    }
}
   /*nosotros*/
.about-us{
    display: flex;
    flex-direction: column;
    max-width: $ancho*1.5;
    margin:0 auto;
    align-items: center;
    margin-top: 10vh;
    &__div{
         margin-top: 10vh;
        &--imagen{
            margin-bottom: 10%;
        }
        
    }
}
/*contacto*/
#form{
    margin: 10vh auto;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid red;
    .input{
        margin-bottom: 3%;
    }
    .contact-title{
        margin-top: 3%;
        border-bottom: 5px double black ;
    }
}
.label{
    margin: 2vh 0;
    border-bottom: 2px solid black;
    
}
footer{
    height: 20vh;
    background: linear-gradient(to bottom, red, lightgray, white );
    section{
        width:50vw;
        margin: 0 auto;
        display: grid;
        grid-template-areas: 
        "instagram whatsapp"
        "facebook mail"
        "copyr copyr";
        grid-template-rows: 1fr 1fr 0.5fr;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
    .instagram{
        display: flex;
        grid-area: instagram;
        padding-top: 4%;
        p{
            padding-left: 5px;
            border-bottom: 2px solid white;
        }
    }
    .whatsapp{
        display: flex;
        grid-area: whatsapp;
        padding-top: 4%;
        p{
            padding-left: 5px;
            border-bottom: 2px solid white;
        }
    }
    .mail{
        display: flex;
        grid-area: mail;
        padding-top: 4%;
        p{
            padding-left: 5px;
            border-bottom: 2px solid white;
        }
    }
    .facebook{
        display: flex;
        grid-area: facebook;
        padding-top: 4%;
        p{
            padding-left: 5px;
            border-bottom: 2px solid white;
        }
    }
    .copyright{
        grid-area: copyr;
        padding-top: 4%;
    }
}